/* Footer */
.linear_gradiant{
    background-image: linear-gradient(180deg,#384184,#12173d);
  }
  .Border-10
  {
    border-radius: 10px;
  }
.footer_image {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 180px;
}
.footer_image img {
  position: absolute;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.btn-contactUs {
  border: 1px dashed #ffffff;
  border-radius: 10px;
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 30px;
  transition: 0.5s;
}
.btn-contactUs:hover {
  border: 1px solid #ff8700;
  background: #ff8700;
  letter-spacing: 1px;
}
.footer_icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  gap: 20px;
  padding: 10px;
}
.footer_icon i {
  transition: 0.5s;
  cursor: pointer;
}
.footer_icon i:hover {
  color: #ff8700;
  transform: scale(1.2) translateY(-5px);
}
@media screen and (max-width: 575px) {
  .footer_icon {
    justify-content: flex-start;
  }
}
